/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playwrite+AU+TAS:wght@100..400&display=swap'); */

@font-face {
    font-family: "Josefin Sans" ;
    src: url('../fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
}
body{
    font-family: "Josefin Sans", sans-serif;
}